body {
    background-color: #f8f9fa; /* Color de fondo de la página */
}

.panel {
    background-color: #ffffff; /* Color de fondo del panel */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombreado */
    padding: 20px;
    width: 300px; /* Ancho del panel */
}

.btn-primary {
    background-color: #007bff; /* Color del botón "Acceder" */
}

.btn-secondary {
    background-color: #6c757d; /* Color del botón "Cancelar" */
}

.btn {
    transition: background-color 0.3s ease; /* Animación al cambiar color */
}

.btn:hover {
    opacity: 0.8; /* Efecto de opacidad al pasar el mouse */
}
